{% extends 'index1.html' %}
{% load static %}
{% block content %}
	<form action="{% url 'adds' %}" method="post"  class="signin-form"enctype="multipart/form-data">
					  {% csrf_token %}
<center>
	<form>
	<table style="width:50%">
	
	<tr>
	<th colspan="3"><div class="col-12">
		<div class="card my-2">
		  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
			<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
			  <h3 class="text-white text-capitalize ps-3"><center>ADD STUDENT</center></h3>
			</div>
		  </div>
		  <div class="table-responsive p-0"><br><br><br>
			<table class="table align-items-center justify-content-center mb-0" align="center">
			</div>
		</th>
	<tbody><tr>
	<tr>
		      		<div class="form-group">
		      			<input type="text" class="form-control"name="fname" placeholder="First Name" required>
		      		</div>
					  <div class="form-group">
						<input type="text" class="form-control"name="lname" placeholder="Last Name" required>
					</div>
					<div class="form-group">
                        <input type="text" class="form-control"name="mobile" placeholder="Mobile Number" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"name="username" placeholder="Username" required>
                    </div>
					<div class="form-group">
                        <div class="form-control">
						<label for="image">Image</label>
						<input type="file"name="img" id="psw-repeat" required>
						</div> 
					<div class="form-group">
                        <div class="form-control">
							<label for="">Choose Department</label>
									<select name="department" placeholder="department" required>
		
										{% for i in data %}
										<option value="{{ i.id }}">{{i.depart}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="form-control">
									<label for="">Choose teacher</label>
											<select name="teacher"required>
				
												{% for i in datas %}
												<option value="{{ i.id }}">{{i.fname}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    <div class="form-group">
                        <input type="email" class="form-control"name="email" placeholder="Email" required>
                    </div>
                  
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" name="password"placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
	            </div>
	          </form>
	          
		      </div>
				</div>
			</div>
		</div>
		{% endblock %}
	</section>



