{% extends 'index1.html' %}
{% load static %}
{% block content %}
<section>

<body>
    <form method="POST" action="{% url 'ed' userid=id %}">
        {% csrf_token %}
    <center>
        <form>
        <table style="width:50%">
        <b>
        <tr>
        <th colspan="3"><div class="col-12">
            <div class="card my-2">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h3 class="text-white text-capitalize ps-3"><center>UPDATE TEACHER</center></h3>
                </div>
              </div>
              <div class="table-responsive p-0"><br><br><br>
                <table class="table align-items-center justify-content-center mb-0" align="center">
                </div>
            </th>
        <tbody><tr>
        <tr>
              
<td>First Name </td><td>:</td><td><input type="text" name="f_name"value="{{userdata.fname}}"/></td><br></tr>
<tr>
<td>Last Name </td><td>:</td><td><input type="text"name="l_name"value="{{userdata.lname}}"/><td><br></tr>
<tr>
<td>Email</td><td>:</td><td><input type="email"name="email" value="{{userdata.email}}"></td><br></tr>
<tr>
<td>Phone Number</td><td>:</td><td><input type="text"name="mobile"value="{{userdata.mob}}"></td><br></tr></b>
<tr>
    <td>Department</td><td>:</td><td>
   
        <select name="department" required>
            {% for i in data %}
            <option value="{{ i.id }}">{{i.depart}}</option>
            {% endfor %}

        </select></td><br></tr></b>
        
<tr>
<td>Password</td><td>:</td><td><input type="text"name="password"value="{{userdata.pas}}"></td><br></tr></b>
 <tr>
 <td>
 <div class="form-group">
    <button type="submit" class="form-control btn btn-primary submit px-3">Update</button></td></tr>
</div>
</table> 
</form>
</center>
{% endblock %}
</section>
</body>
</html>      