<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/log/css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(static/images/slider_background.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 text-center mb-3">
					<h2 class="heading-section">Sign-Up</h2>
			   </div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">New User?</h3>
		      	<form action="{% url 'signup' %}" method="post"  class="signin-form">
					  {% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control"name="fname" placeholder="First Name" required>
		      		</div>
                      <div class="form-group">
                        <input type="text" class="form-control"name="lname" placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control"name="email" placeholder="Email" required>
                    </div>
                  
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" name="password"placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
	            </div>
	            <p >Already have an account? &nbsp;<a href="{% url 'login' %}">Sign-In</a></p>
	          </form>
	          
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/log/js/jquery.min.js"></script>
  <script src="static/log/js/popper.js"></script>
  <script src="static/log/js/bootstrap.min.js"></script>
  <script src="static/log/js/main.js"></script>

	</body>
</html>

