{% extends 'index1.html' %}
{% load static %}
{% block content %}
<body>
  <div class="content">
    <center>
      <form>
      <table style="width:100%">
      <b>
      <tr>
      <th colspan="3"><div class="col-12">
          <div class="card my-2">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h3 class="text-white text-capitalize ps-3"><center>STUDENTS</center></h3>
              </div>
            </div>
            <div class="table-responsive p-0"><br><br><br>
              <table class="table align-items-center justify-content-center mb-0" align="center">
              </div>
          </th>
      <tbody><tr>
      <tr>
       <div class="table-responsive">
           <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Second Name</th>
              <th scope="col">Email</th>
              <th scope="col">Department</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Password</th>
              <th scope="col">Profile Picture</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>

            </tr>
          </thead>
        </tr>
		{% for i in data %}
		<tr>
			<td>
				{{i.id}}
			</td> 
		  <td>
			  {{i.fname}}
		  </td> 
      <td>
			  {{i.lname}}
		  </td>
		  <td>  
			  {{i.em}}
		  </td>
		  <td>	  
			  {{i.dname}}
		  </td>
		  <td>	  
		    	{{i.mob}}
		 </td>
		  <td>
			  {{i.pas}}
		  </td>
          <td>
			<img src="{{i.profile_pic.url}}"style="height: 15% ; width: 20%;">
			</td>
         <td>
			  <a href="{% url 'edi' userid=i.id %}">Edit</a>
		</td>
		  <td>
			  <a href="{% url 'dle' userid=i.id %}">Delete</a>
		  </td>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
  </body>
