<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Font Icon -->
    <link rel="stylesheet" href="static/stud/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/stud/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="https://www.njacac.org/wp-content/uploads/NJACAC-Blog-Post-Images-College-Key-NFP.jpg" alt="" style="height: 800px;">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>Student registration form</h2>
                        <form method="POST" action="{% url 'add' %}">
                            {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">First Name :</label>
                                <input type="text" name="first_name" id="first_name" required/>
                            </div>
                            <div class="form-group">
                                <label for="father_name">Last Name :</label>
                                <input type="text" name="last_name" id="last_name" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">Addresss :</label>
                                <input type="text" name="address" id="address" required/>
                            </div>
                        <div class="form-group">
                            <label for="address">College Roll No :</label>
                            <input type="text" name="roll_no" id="roll_no" required/>
                        </div>
                        </div>
                        <div class="form-radio">
                            <label for="gender" class="radio-label">Gender :</label>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="male" checked>
                                <label for="male">Male</label>
                                <span class="check"></span>
                            </div>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="female">
                                <label for="female">Female</label>
                                <span class="check"></span>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group">
                            <label for="birth_date">DOB :</label>
                            <input type="date" name="birth_date">
                            </div>
                            <div class="form-group">
                            <label for="pincode"><Main>Mobile Number :</Main></label>
                            <input type="text" name="mob" id="mob">
                            </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group">
                            <label for="course">Department :</label>
                            <div class="form-select">
                                <select name="department" id="department">
                                    <option disabled="disabled" selected="selected">Choose option</option>
                                    <option>COMMERCE AND MANAGEMENT</option>
                                    <option>COMPUTER APPLICATIONS</option>
                                    <option>ENGLISH LITERATURE</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email ID :</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">Username :</label>
                                <input type="text" name="user_name" id="user_name" required/>
                            </div>
                            <div class="form-group">
                                <label for="father_name">Password :</label>
                                <input type="password" name="pssword" id="pssword" required/>
                            </div>
                        </div>

                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="static/stud/vendor/jquery/jquery.min.js"></script>
    <script src="static/stud/js/main.js"></script>
</body>
</html>