{% extends 'index2.html' %}
{% load static %}
{% block content %}


        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3"><center>STUDENTS</center></h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0" align="center">

                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">First Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Last Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Email</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Department</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Mobile</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Profile Pic</th>
                      <th></th>
                    </tr>
                  </thead>
                  <form action="{% url 's' userid=request.session.user_email %}"method="POST">
                    {% csrf_token %}
                    <label for="">Search Here</label>
                    <input type="text"name="name">
                    <button type="submit">Search</button></br>
                  </form>
                  <tbody>
                    <tr>
                      <td>
                        {% for i in data %}
                        <tr>
                          <td>
                            {{i.id}}
                          </td> 
                          <td>
                            {{i.fname}}
                          </td> 
                          <td>
                            {{i.lname}}
                          </td>
                          <td>  
                            {{i.em}}
                          </td>
                          <td>	  
                            {{i.dname}}
                          </td>
                          <td>	  
                              {{i.mob}}
                         </td>
                          <td>
                          <img src="{{i.profile_pic.url}}"style="height: 15% ; width: 20%;">
                          </td>
                              {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>
  <!--   Core JS Files   -->
  <script src="static/assets/js/core/popper.min.js"></script>
  <script src="static/assets/js/core/bootstrap.min.js"></script>
  <script src="static/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="static/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/assets/js/material-dashboard.min.js?v=3.0.0"></script>
  {% endblock %}
</body>

</html>